/* START MAIN RULEZ */
body{
    background-color: rgb(69, 67, 67);
 
}
.container {
    width: 1170px ;
    margin: auto;
    }
/* END MAIN RULEZ */
/* START HEADER  */
.header .slider{
    background-color: #fff;
    height: 400px;
    }
.header .navbar{
    background-color: #252E31;
    color: #fff;
    overflow: hidden;
    text-transform: uppercase;
    
}
.header .navbar h2 {
    float: left;
    text-transform: uppercase;
}
.header .navbar h2 span{
    color: #2ecc71;
}
.header .navbar ul{
   list-style: none; 
   padding-left: 0;
   overflow: hidden;
   float: right;
}
.header .navbar ul li{
    float: left;
    padding: 10px;
}
/* END HEADER  */
/* star features */

.features {
overflow: hidden;
padding-top: 30px;
padding-bottom: 30px;
}
.features .feat{
    float: left;
    width: 33.3333%;
    height: 150px;
    background-color: #ddd;
}
.features .feat h2{text-transform: uppercase;}
/* end features */
/* start ABOUT ME  */
.about-me {
  background-color: #f2f2f2;  
  width: auto;
  overflow: hidden;
}
.about-me .image{
    float: left;
   width: 40%;
}
.about-me .image img {
    width: 100%;
}
.about-me .info{
    float: left;
    width: 60%;
}
.about-me .info .hobbies{
    overflow: hidden;
    margin: 20px;
}
.about-me .info .hobbies > div {
    float: left;
    width: 50%;
    min-height: 100px;
}
/* end ABOUT ME */
/* start My Skills  */
.my-skills{
    padding-top: 30px;
    padding-bottom: 30px;
    overflow: hidden;
}
.my-skills .skills, .my-skills .progress{
    width: 50%;
    float: left;
}
/* end My Skills  */

/* start Resume  */
    .resume{
        background-color: #f2f2f2;
        padding-top: 30px;
        padding-bottom: 30px;
        text-align: center;
    }
/* end Resume */